body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 16px auto 16px auto; */
}

.map {
  overflow-y: hidden;
  overflow: hidden;
  height: 100vh;
  width: 50vw;
}

.bar {
  overflow: hidden;
  overflow-y: scroll;
  overflow-y: scroll;
  height: 100vh;
  width: 50vw;
}

.bar-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px;
  margin: 16px 0px 16px 0px;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  border-image: initial;
  border-radius: 4px;
}

.image {
  height: 100px;
  width: 100px;
}

.search {
  position: relative;
}

.locate {
  position: absolute;
  top: 2.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  z-index: 10;
}

.search {
  position: relative;
  padding-bottom: 10px;
  /* top: 1rem; */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  /* z-index: 10; */
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.photo {
  /* height: 250px;
  width: 300px; */
  object-fit: contain;
}

.dis {
  padding-left: 3%;
}

.bar-name {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(43, 39, 60);
  margin: 0 0 8px 0;
  cursor: pointer;
}

.address {
  margin: 8px 0 8px 0;
}

.hrs {
  margin: 0 0 8px 0;
}

.btn {
  display: flex;
  flex-direction: row;
}

/* .show {

} */

.reviewBtn {
  background-color: rgb(244, 65, 62);
  color: white;
  font-weight: bold;
  height: 35px;
  width: 150px;
  border-radius: 4px;
  border-color: rgb(204, 0, 0);
}

.btnW {
  background-color: rgb(244, 65, 62);
  color: white important;
  font-weight: bold;
  height: 35px;
  width: 150px;
  border-radius: 4px;
  border-color: rgb(204, 0, 0);
  /* margin-right: 5%; */
}

/* .show {
padding-right: 80%;
} */

.slider {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.image {
  width: 100vw;
  /* padding-top: 30px; */
  height: 70vh;
  /* border-radius: 10px; */
  background-size: cover;
  background-position: 50%;
  /* padding-top: 30px; */
  background-color: #333;
  object-fit: cover;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
